@import url("fontcssyoutube.css");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body
{

    margin: 0;
    padding: 0;
    max-width: auto;
    margin: 0 auto;
}
.section1top
{
  max-width:1300px ;
  margin:auto;
  padding: 0 30px;
}

/*****************************NAV BAR CSS****************/
.logo
{
  display: flex;
  width: fit-content;
  cursor: pointer;

}

.logoimage 
{
  max-width: 70%;
}
.iconsimages
{
  max-width: 16%;
}


nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#nav-id
{
  padding-block: 30px;
}

.hamburger-menu
{
  display: none;
}
.icons{
  display: flex;
  justify-content: space-between;
  width: fit-content;
  align-items: center;
  cursor: pointer;

}

  .nav-items {
    display: flex;
    list-style: none;
    width: fit-content;
    cursor: pointer;
  }



.nav-items li {
  margin: 0 10px;
  font-size: 13px;

  font-family: 'Poppins', sans-serif;
}

.nav-items li a {
text-decoration: none;
color: black;    

}
.container
{
  display: none;
  
}
.bar1, .bar2, .bar3 {
  width: 20px;
  height: 1px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}

.change1 {
  transform: translate(0, 8px) rotate(-45deg);
}

.change2 {opacity: 0;}

.change3 {
  transform: translate(0, -8px) rotate(45deg);
}
.middleicon
{
  margin-inline: 6px;
}

@media screen and (max-width:767px) {
 
  #nav-id
  {
    padding-block:15px;
    position:fixed;
    top: 0;
  width: 100%;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-around;
  }
  .iconsimages
{
  max-width: 17%;
}

  
.navbarclass
{
  background-color:#ffffff;

}
.logo{
display: flex;
  justify-content: center;
  margin: auto;
}
.logoimage 

{
  max-width: 60%;
}
 .icons
  {
display: flex;
padding-inline-end: 25px;
  }
  .nav-items
  {
    display: none;
    width: 100%;
    position: absolute;
    top: 58px;
    bottom:0;
    height: 100vh;

}
.nav-items,#nav-id
{
  background-color: #ffffff;
}

  .nav-items li {
    margin: 0;
    /* padding-block:11.2% */
    font-size: 12px;
    padding: 10px 0;
  /* margin: 0 2rem; */
  }
  .container
  {
display: inline-block;
padding-inline-start: 25px;
  }
  .bar1, .bar3 {
    width: 20px;
    height: 2px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
  }
  .bar2
  {
    width: 15px;
    height: 2px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
  }
  .displayblock
  {
   opacity :0;  
transition:opacity 2s;
transition-property: opacity;
  }
  .nav-items li{
    padding-left: 25px;
  }

}
/*********************************************************/

#backgroundtopsection
{
  background-image: url("images/darkshade.png"),url("images/topbackground.png");
  background-size: 100% 100%;
  background-repeat: no-repeat no-repeat;
  background-position: center center;
  padding-block-end: 2%;
  padding-block-start: 1%;
  
}

.heading {
  text-transform: uppercase;
  font-size: 20px;
  margin: 0 auto;
  text-align: center;
  font-family: Poppins-SemiBold;
  color: black;
  letter-spacing: 1.2px;
  width: 100%;
}
/**********************************AFTER NAVIGATION******************/
.rowtopsection {
  display: flex;
flex-direction: row;
width: 100%;
justify-content: space-between;
flex-wrap: wrap;
margin: 2% auto;

}

.column1  {
  font-family: Poppins-Light;
  width:50%;
  margin: auto 0;

}

.shopoutlets {
  font-size: 13px;
  /* mag */
  font-family: Poppins-Light;
  margin:3.5% 0;

}

.quality {
  font-size: 21px;
font-weight: 100;
  font-family: Poppins-Light;
}



.cheapproducts {
  font-size: 45px ;
  font-family: Poppins-ExtraBold;

}

.cheapandeasy {
  font-size: 13px;;

}

.textspacing {
margin: 3.5% 0;
}

.collection {
  font-size: 12px;
  font-family: "Poppins-Light";
  padding: 2.5% 4%;
  color: rgb(255, 255, 255);
  background-color: rgb(255, 0, 0);
  cursor: pointer;
  border: 1px solid rgb(255, 0, 0);

}


/********************************************************/

/**********************Image Stacking*******************/
.column2 {
  margin: 0 auto;
  width: 50%;
}

.child {
width: 100%;
display: block;
}
@media only screen and  (max-width: 767px) {
  .column1{

    width: 100%;
text-align: center;

  }
  .column2{

    width: 100%;


  }


}


/*******************END OF IMAGE STACKING*****************/

/*************** RESPONSIVE FEATURE PRODUCT******************/
.bestsellerrow {
    display: flex;
    height: auto;

    flex-direction: row;
    /* border: 1px solid black; */
    /* justify-content: space-between; */
    width: 100%;
    flex-wrap: wrap;
    gap: 2.66%;
    row-gap: 2rem;  
    margin: 2% auto;
    max-width: 1300px;

  }

  .col-3 {

    width: 23%;
    /* border: 1px solid black; */




  }

  .imagesbestseller {
width: 100%;
 display: block;

  }

  .seller-text {

    font-size: 11px;
    font-family: 'Poppins', sans-serif;
  }

  .sales {
    font-size: 9.5px;
    display: inline-block;
    font-family: 'Poppins', sans-serif;
  }

.details
{
text-align: left;
padding-block-start: 8%;
}
.stars
{width: 22%;
}
  .price {
    font-size: 14px;
    font-family: Poppins-SemiBold;

  }

  /* 
  Smallest modile Device consider be 200px
  Largest mobile device consider be 767px */
  /* 600-800px Tablet */

.READMORE
{
  font-size: 12px;
  color: rgb(0, 0, 0);
  font-family:Poppins-Light;
  background-color: rgb(255, 255, 255);
  padding: 13px 27.297px;
  border-width: 2px;
display: inline-block;
width: fit-content;
cursor: pointer;
}
#featuresection
{
  margin: 4% auto;
}
#bestsellersection
{  margin: 4% auto;

}
  @media  screen and  (max-width:767px) {
    
    .col-3 {

      width:100%;
      border: 1px solid black;
      /* height: 275px; */
      text-align: center;
    }
    .imagesbestseller {
      width: 100%;
          object-fit: cover;
 height: auto;
        }
      
    .details {
      width: 100%;
      text-align: center;
    }
    .rowtopsection{
    margin-block:20%;}
    .seller-text {
      white-space: wrap;

      /* font-size: 2vh; */
      font-family: 'Poppins', sans-serif;

    }

    .sales {
      /* font-size: 2vh; */
      display: block;
      font-family: 'Poppins', sans-serif;
    }
  }
  /******************************************************/

.rowfeature {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 2% auto;
flex-wrap: wrap;  
gap: 4.505%;
}

.col-4 {
  width: 30.33%;
  border: 1px solid black;
  position: relative;
}

.text-button {
  width: 100%;
  text-align: center;
  white-space: nowrap;
  position: absolute;
  bottom: 15px;
  /* left: 83.4765;
  right: 83.4765px; */
}
.featureimage {
  width: 100%;
object-fit: cover;
height: 100%;
  display: block;
}
.card-text {
  text-align: center;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  font-family: Poppins-SemiBold;
  font-size: 14px;
  font-weight: lighter;
}


.buynow {
  font-size: 13px;
  color: white;
  font-family:Poppins-SemiBold;
  background-color: black;
  padding: 1.7% 9.5%;
  margin-block-start: 2%;
  outline-style: none;
  border-width: 1px;
  cursor: pointer;
}


@media  screen and (max-width:767px) {

  .col-4 {
    width: 100%;
    border: 1px solid black;
    margin-block: 20px;
  }
  .card-text {
      text-align: center;
      text-transform: uppercase;
      color: rgb(255, 255, 255);
      font-family: Poppins-SemiBold;
      /* font-size: 2vh; */
  }
  .buynow {
      /* font-size: 2vh; */
      color: white;
      font-family:Poppins-SemiBold;
      background-color: black;
      padding: 3% 7%;
      margin-block-start: 2%;

  }
  .text-button {
    width: 100%;
    text-align: center;
    white-space: nowrap;
    position: absolute;
    bottom: 15px;
    /* left: 83.4765;
    right: 83.4765px; */
  }
  .featureimage {

    display: block;
  }

}
/******************************************************/

.pagewidth
{
  max-width: 1700px;
  margin: auto ;
}

#aboutoutletssection
{
  background-image:url("images/AboutOutletsBackground.png");
  background-repeat: no-repeat no-repeat;
  background-size: 100% 100%;
  padding-block: 4%;

}
.aboutoutletsrow
{
  display: flex;
  flex-direction: row;

  width: 100%;
  margin: 2% auto;
  /* border: 1px solid black; */

background-color: white;


}

.rightoutlets
{
width: 50%;
}

.outletsimage
{


width: 100%;
  display: block;
}

.aboutoutletswelcome {
font-size: 15px;
font-family: Poppins-Bold;

}
.col-text
{
  width: 50%;
  font-size: 15px;
  font-family: Poppins-Light;
  background-color: white;
  justify-content: center;
  display: flex;
  flex-direction: column;
  padding: 4%;

}
.aboutoutletstext {
font-size: 12px;
line-height: 1.8;
margin-block: 3%;

}


.VIEWMORE
{
  font-size: 12px;
  color: rgb(0, 0, 0);
  font-family:Poppins-Light;
  background-color: rgb(255, 255, 255);
  padding: 1% 2.1%;
display: block;
margin: 0 auto;
cursor: pointer;
}

@media screen and (max-width:767px) 
{


  .aboutoutletsrow{
    flex-wrap: wrap;
  }
  .rightoutlets
{

  width: 100%;
  text-align: center;
}
.outletsimage
{
  max-width: 100%;
max-height: 100%;
}
.col-text
{
text-align: center;
  width: 100%;

}
.READMORE
{
  margin: auto;
}


}
/****************************************************/

.footer-grid
{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
color: white;
font-family: 'Poppins', sans-serif;
flex-wrap: wrap;
}

/*********************************************************/
.footerlogo{

cursor: pointer;
max-width: 70%;
}
.feelingsocialimages
{
max-width: 50%;

  cursor:pointer;
}
.footercolum1{width: fit-content;
display: flex;
align-items: center;
}

.footercolum2{width:fit-content;}

.footercolum3{width: fit-content;}

.footercolum4{width: fit-content}

input {
  size: "25";
  text-align: left;
  font-size: 7px;


}
.subscribe {
  font-size: 12px;
  font-family: "Poppins-SemiBold";
  cursor: pointer;
}
.main-ul
{
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  color: rgb(255, 255, 255);
  line-height:2.7;
  cursor: pointer;
}

.ulfooter
{
  list-style: none;
  line-height: 1.7;
  cursor: pointer;
}
.anchor-footer {
  text-decoration-line: none;
  color: rgb(199, 199, 199);
}

.footermainul {
  font-size: 17px;


}

::placeholder {
  font-size: 13px;
  font-family: "Poppins-Light";
  margin-inline-start: 20px;
}
input[type=text] {

  padding: 9px 0px;
border-radius: 0;
  box-sizing: border-box;
}
form
{
  display: inline-flex;
}
.lifooter
{
  font-family: "Poppins-Light";
  font-size: 14px;
}
.bottom
{
  font-family: "Poppins-Light";
  font-size: 13px;
  color: rgb(199, 199, 199);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
padding-block: 1%;
}
.copyimage
{
  max-width: 18%;
  cursor: pointer;
}
.copyright
{
  width: fit-content;
}
/********************************************************/

@media screen and (max-width:767px) 
{

  .footercolumn
  {
    width:100% ;
    text-align: center;
    justify-content: center;
  }
  .copyright,copyimage
  {
    width: 100%;
    text-align: center;
  }
  .bottom
  {
justify-content: center;

  }
  

}
#footersection
{
  background-image:url("images/footerbackground.png") ;
  background-repeat: no-repeat no-repeat;
  background-size: 100% 100%;
  padding-block-start: 3.5%;
}
.navsection
{
max-width:1300px;
padding: 0 30px;
margin: auto;
}


@media only screen and (max-width: 767px)
{
  .section1top
{
  max-width:1300px;
padding: 0 30px;
  margin: auto;

}
.navsection
{
  max-width:1300px;
  padding:0;
  margin: auto;
}






}






/***************************TRACK MY ORDER CSS************************************/
.trackmyordermiddle
{
  
display: flex;
flex-direction: column;
text-align: center;
padding-block: 60px;
justify-content: space-around;
}

.trackmyordertext
{
  font-family: Poppins-Light;
  font-size: 13px;
  color: black;
}
.toptrackmyordertext
{
  margin-block: 2%;
}
.toptrackmyorderlink
{
  color: black;
  text-decoration: none;
}
@media screen and (max-width: 767px) {

/***********************TRACK MY ORDER CSS******************/  
 .trackmyordermiddle
{
  
padding-block: 80px;}

/******************CATALOG CSS****************************/
#bestsellersection
{
 padding-block: 90px;
}
}
