@font-face {
    font-family:Poppins-Black;
    src: url("Fonts/Poppins-Black.ttf");
}

@font-face {
    font-family:Poppins-BlackItalic;
    src: url("Fonts/Poppins-BlackItalic.ttf");
}

@font-face {
    font-family:Poppins-Bold;
    src: url("Fonts/Poppins-Bold.ttf");
}


@font-face {
    font-family:Poppins-BoldItalic;
    src: url("Fonts/Poppins-BoldItalic.ttf");
}


@font-face {
    font-family:Poppins-ExtraBold ;
    src: url("Fonts/Poppins-ExtraBold.ttf");
}


@font-face {
    font-family:Poppins-ExtraBoldItalic ;
    src: url("Fonts/Poppins-ExtraBoldItalic.ttf");
}



@font-face {
    font-family:Poppins-ExtraLight ;
    src: url("Fonts/Poppins-ExtraLight.ttf");
}



@font-face {
    font-family:Poppins-ExtraLightItalic ;
    src: url("Fonts/Poppins-ExtraLightItalic.ttf");
}



@font-face {
    font-family:Poppins-Italic;
    src: url("Fonts/Poppins-Italic.ttf");
}



@font-face {
    font-family:Poppins-Light;
    src: url("Fonts/Poppins-Light.ttf");
}



@font-face {
    font-family:Poppins-LightItalic;
    src: url("Fonts/Poppins-LightItalic.ttf");
}


@font-face {
    font-family:Poppins-Medium;
    src: url("Fonts/Poppins-Medium.ttf");
}


@font-face {
    font-family:Poppins-MediumItalic;
    src: url("Fonts/Poppins-MediumItalic.ttf");
}


@font-face {
    font-family:Poppins-SemiBold;
    src: url("Fonts/Poppins-SemiBold.ttf");
}


@font-face {
    font-family:Poppins-SemiBoldItalic;
    src: url("Fonts/Poppins-SemiBoldItalic.ttf");
}


@font-face {
    font-family:Poppins-Thin;
    src: url("Fonts/Poppins-Thin.ttf");
}



@font-face {
    font-family:Poppins-ThinItalic;
    src: url("Fonts/Poppins-ThinItalic.ttf");
}